@tailwind base;
@tailwind components;
@tailwind utilities;

#editorContainer {
 width: 100%;
height: 100vh;
}

#editableConatiner {
width: 100%;
height: 85vh;
}

#editable {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.active {
  background-color: #b9b7b7;
}

#editableConatiner ol {
  list-style-type: decimal;
}

#editableConatiner ul {
  list-style-type: disc;
}

select{
    min-width: 5rem;
}